<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<h1>Log In</h1>
			<br>
			<div *ngIf="error" class="alert alert-danger text-center p-2">{{error}}</div>
			<br>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
				<input class="form-control" formControlName="email" type="text" placeholder="Enter Email" />
				<div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
					class="">
					<div *ngIf="loginForm.controls['email'].errors?['required']:''">
						<strong>
							<p class="text-left error">Email ID is required.</p>
						</strong>
					</div>
				</div>
				<br>
				<input class="form-control" formControlName="password" type="password" placeholder="Enter Password" />
				<div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
					class="">
					<div *ngIf="loginForm.controls['password'].errors?['required']:''">
						<b>
							<p class="text-left error">Password is required.</p>
						</b>
					</div>
				</div>
				<input class="btn btn-default" type="submit" value="Login">
				<p class="text-white">Don't have account? <a class="" href="/registration"><u>Register Now</u></a></p>
			</form>
		</div>
	</div>
	<!-- copyright -->
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<!-- //main -->