<div class="container text-info">
    <br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Want to know more? <strong class="contact">Contact Us</strong> </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h3>Catch Us</h3>
                                <i class="fa fa-phone text-success"></i>&nbsp; 0987654321
                                <p><i class="fa fa-envelope text-danger"></i>&nbsp; info@plantgrow.com</p>
                                <p><i class="fa fa-instagram text-danger"></i>&nbsp; plant_grow_2022</p>
                        </div>
                        <div class="col-md-6 text-left">
                            <h3>Kangrinboqe Peak
                                Burang County, Ngari Prefecture, 859512</h3>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13670.071653817362!2d81.30318962457658!3d31.067517584219097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a590ca18ebfb6b%3A0xdece226ef2f187fa!2sKangrinboqe%20Peak!5e0!3m2!1sen!2sin!4v1655361880791!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
