<img src="assets/images/carousel1.jpg" alt="carousel image" class="img-fluid" max-width="100%" width="50%" height="auto"><img src="assets/images/img20.jpg" alt="carousel image" class="img-fluid" max-width="100%" width="50%" height="auto">
<div class="container-fluid text-white">
    <br><br>
    <h2 class="text-center">Fan Favorite</h2>
    <br><br>
    <div class="row text-center">
        <div class="col-md-3">
            <figure>
                <img src="assets/images/img1.jpg" alt="Lil' Guys" max-width="100%" width="200" height="300">
                <br><br>
                <h5><figcaption class="">Lil' Guys</figcaption></h5>
                <a href="#" class="btn btn-secondary">Shop Now</a>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="assets/images/img2.jpg" alt="Bigger Statements" max-width="100%" width="200" height="300">
                <br><br>
                <h5><figcaption class="">Bigger Statements</figcaption></h5>
                <a href="#" class="btn btn-secondary">Shop Now</a>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="assets/images/img3.jpg" alt="Low maintenance" max-width="100%" width="200" height="300">
                <br><br>
                <h5><figcaption class="">Low maintenance</figcaption></h5>
                <a href="#" class="btn btn-secondary">Shop Now</a>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="assets/images/img8.jpg" alt="High Maintenance" max-width="100%" width="200" height="300">
                <br><br>
                <h5><figcaption class="">High Maintenance</figcaption></h5>
                <a href="#" class="btn btn-secondary">Shop Now</a>
            </figure>
        </div>
    </div>
    <br><br>
    <section class="text-center">
        <h2>The Journal</h2>
        <br><br>
        <figure>
            <img src="assets/images/img4.jpg" alt="High Maintenance" max-width="100%" height="auto">
            <figcaption class="ml-5 mr-5">
                <br><br><h3>Where does it come from?</h3>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, 
                    looked up one of the more obscure Latin words, consectetur, 
                    from a Lorem Ipsum passage, and going through the cites of the word in classical literature, 
                    discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of 
                    "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                    This book is a treatise on the theory of ethics, very popular during the Renaissance. 
                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </figcaption>
        </figure>
    </section>
    <br><br>
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="assets/images/v1.gif" alt="High Maintenance" max-width="100%" width="500" height="400">
            <br><br>
            <h3 class="">Searching for Succulents?</h3>
            <p class="">If you have a sunny windowsill, you can be a succulent owner. These hardy and beautiful plants are as easy as they come.</p>
            <a href="#" class="btn btn-secondary">Read More...</a>
        </div>
        <div class="col-md-5">
            <img src="assets/images/v2.gif" alt="High Maintenance" max-width="100%" width="500" height="400">
            <br><br>
            <h3 class="">Is It Flowers You’re After?</h3>
            <p class="">Flowering plants are stunning, but require a bit more work than their non-flowering brethren. Learn how to keep them happy.</p>
            <a href="#" class="btn btn-secondary">Read More...</a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
